Deep_Learning_Specialization_Coursera/course_05_Sequence_Models/week02/Programming_Assignment/01_Operations_On_Word_Vectors/data/glove.6B.50d.txt
	Deep_Learning_Specialization_Coursera/course_05_Sequence_Models/week02/Programming_Assignment/02_Emojify/data/glove.6B.50d.txt
	Deep_Learning_Specialization_Coursera/course_05_Sequence_Models/week02/Programming_Assignment/02_Emojify/data/glove.6B.50d.txt.tar.gz
	Deep_Learning_Specialization_Coursera/course_05_Sequence_Models/week03/Programming_Assignment/02_Trigger_Word_Detection/XY_dev/X_dev.npy
	Deep_Learning_Specialization_Coursera/course_05_Sequence_Models/week03/Programming_Assignment/02_Trigger_Word_Detection/XY_train/X.npy
	Keras/.vscode/
